{% extends 'base.html.twig' %}

{% block title %}Lecture index{% endblock %}

{% block body %}
    <h1>Lecture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lecturer</th>
                <th>Location</th>
                <th>Attendees_quantity</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Lecturer_image</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.id }}</td>
                <td>{{ lecture.lecturer }}</td>
                <td>{{ lecture.location }}</td>
                <td>{{ lecture.attendeesQuantity }}</td>
                <td>{{ lecture.subtitle }}</td>
                <td>{{ lecture.description }}</td>
                <td>{{ lecture.startDate ? lecture.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lecture.endDate ? lecture.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lecture.lecturerImage }}</td>
                <td>{{ lecture.createdAt ? lecture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lecture.updatedAt ? lecture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_lecture_show', {'id': lecture.id}) }}">show</a>
                    <a href="{{ path('app_lecture_edit', {'id': lecture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lecture_new') }}">Create new</a>
{% endblock %}
