{% extends '@adminkit/base.html.twig' %}

{% block title %}Usuários | {{backend_name}} {% endblock %}

{% block body %}

    <div class="d-flex justify-content-between mb-3">
        <h1 class="h3 d-inline align-middle">Usuários</h1>
        <a class="btn btn-primary ms-2" href="{{ url('app_user_new') }}">Criar novo <i data-feather="plus"></i></a>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5 class="card-title mb-0">Lista de Usuários</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Perfil</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a class="btn btn-info" href="{{ path('app_user_show', {'id': user.id}) }}" title="Visualizar"><i class="align-middle me-1" data-feather="eye"></i></a>
                                        <a class="btn btn-info" href="{{ path('app_user_edit', {'id': user.id}) }}" title="Editar"><i class="align-middle me-1" data-feather="edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Nenhum registro encontrado</td>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
